@import "./colors.module.css";

.wrapper {
  text-align: center;
  min-width: 350px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  padding: 10px;
}
