.popup {
  position: absolute;
  left: 50px;
  width: 300px;
  top: 0;
  background: #f7f7f7;
  display: flex;
  max-height: 250px;
  overflow: auto;
  border: 1px solid #9d9d9d;
  border-radius: 10px;
  box-shadow: 3px 5px 14px #717171;
  z-index: 10;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.listItem {
  list-style: none;
  border-bottom: 1px solid gainsboro;
  padding: 5px 20px;
  display: flex;
}
